<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Slooow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <!--<meta name="viewport" content="initial-scale=1">-->
</head>
<body id="body">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src = "scripts/phaser.min2.js"></script>
    <script src = "scripts/phaser-input.js"></script>
    <script src = "scripts/jquery-3.4.1.min.js"></script>
    <script src = "src/states/boot.js"></script>
    <script src = "src/states/preload.js"></script>
    <script src = "src/states/error.js"></script>
    <script src = "src/states/initGame.js"></script>
    <script src = "src/states/initSesion.js"></script>
    <script src = "src/states/createAccount.js"></script>
    <script src = "src/states/addLife.js"></script>
    <script src = "src/states/mainMenu.js"></script>
    <script src = "src/states/shop.js"></script>
    <script src = "src/states/buySnail.js"></script>
    <script src = "src/states/buyShells.js"></script>
    <script src = "src/states/errorLogIn.js"></script>
    <script src = "src/states/errorSignIn.js"></script>
    <script src = "src/states/records.js"></script>
    <script src = "src/states/trophies.js"></script>
    <script src = "src/states/singlePlayer.js"></script>
    <script src = "src/states/marathon.js"></script>
    <script src = "src/states/lobby.js"></script>
    <script src = "src/states/lobbyMulti.js"></script>
    <script src = "src/states/multiplayer.js"></script>
    <script src = "src/states/chooseCharacter.js"></script>
    <script src = "src/states/gameOver.js"></script>
    <script src = "src/states/gameOverMulti.js"></script>
    <script src = "src/states/midRecords.js"></script>
    <script src = "src/states/menuSoloAndMultiLocal.js"></script>
    <script src = "src/states/menuMultiOnline.js"></script>
    <script src = "src/states/top10.js"></script>
    <script src = "src/index.js"></script>
</body>
</html>